@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #141414;
  color: #fff;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logotipo {
  width: 150px; /* Tamaño ajustable del logotipo */
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

.pelicula-principal {
  font-size: 16px;
  min-height: 400px; /* Ajusta según necesites */
  background-position: center center;
  background-size: cover;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 60px;
}

.pelicula-principal .titulo {
  font-family: 'Bebas Neue', cursive; /* Aplica la nueva fuente */
  font-weight: 600;
  font-size: 3rem; /* Ajusta según necesites */
  margin-bottom: 10px;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1.2rem; /* Ajusta según necesites */
  line-height: 1.6;
  max-width: 50%;
  margin-bottom: 20px;
}

.pelicula-principal .boton {
  background: rgba(0,0,0, 0.5);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.2rem; /* Ajusta según necesites */
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.carrete {
  margin-bottom: 30px;
}

.carrete-item {
  position: relative; /* Necesario para el posicionamiento absoluto del título */
  text-align: center;
}

.carrete-item img {
  width: 100%; /* Ajusta según necesites */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; /* Añadir transición suave al hover */
}

.carrete-item img:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.carrete-item h3 {
  font-family: 'Bebas Neue', cursive; /* Aplica la nueva fuente */
  font-size: 1.5rem; /* Ajusta según necesites */
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  padding: 10px;
  opacity: 0; /* Ocultar inicialmente */
  transition: opacity 0.3s; /* Transición suave para la opacidad */
}

.carrete-item:hover h3 {
  opacity: 1; /* Mostrar título al pasar el cursor */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  position: relative; /* Necesario para el posicionamiento absoluto del título */
  text-align: center;
}

.grid-item img {
  width: 100%; /* Ajusta según necesites */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; /* Añadir transición suave al hover */
}

.grid-item img:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.grid-item h3 {
  font-family: 'Bebas Neue', cursive; /* Aplica la nueva fuente */
  font-size: 1.5rem; /* Ajusta según necesites */
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  padding: 10px;
  opacity: 0; /* Ocultar inicialmente */
  transition: opacity 0.3s; /* Transición suave para la opacidad */
}

.grid-item:hover h3 {
  opacity: 1; /* Mostrar título al pasar el cursor */
}

@media screen and (max-width: 800px) {
  .pelicula-principal {
    min-height: 300px; /* Ajusta según necesites */
  }

  .pelicula-principal .titulo {
    font-size: 2.5rem; /* Ajusta según necesites */
  }

  .pelicula-principal .descripcion {
    max-width: 100%;
  }
}
