/* src/App.css */
.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  text-align: left;
}

.movie-card img {
  width: 100%;
}

.movie-detail img {
  width: 300px;
}
